.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-responsive {
  max-width: 100%; /* Maximum width of the image is 100% of its container */
  max-height: 80vh; /* Maximum height of the image is 80% of the viewport height */
  object-fit: contain; /* This ensures that the aspect ratio is maintained without cropping the image */
}

/* Optional: center the image vertically and horizontally within its container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the container height to be a percentage of the viewport height */
}