.App {
  text-align: center;
  min-height: 100vh; /* Ensure the main container takes at least full viewport height */
  position: relative; /* For footer positioning */
  padding-bottom: 30px; /*Space for footer, adjust as needed*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-responsive {
  max-width: 100%;
  object-fit: contain;
  max-height: 80vh; 
}


.controls {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Centers items horizontally */
  flex-wrap: wrap; /* Allows items to wrap to next line if space runs out */
  gap: 10px; /* Adds space between items */
}

/* Style for the form */
.upload-form {
  text-align: center;
  /* margin-bottom: 40px; */
}

/* Style for the file input */
.upload-form input[type="file"] {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upload-form input[type="text"] {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Style for the upload button */
.upload-form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
}

.upload-form button:hover {
  background-color: #45a049;
}

.upload-form button:active {
  transform: scale(0.95);
}

.controls button {
  padding: 10px 15px; /* Adjust padding for size */
  background-color: #4CAF50; /* A pleasant green; change as you like */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-size: 1rem; /* Adjust font size as needed */
  cursor: pointer; /* Cursor changes to a hand symbol when hovered */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.controls button:hover {
  background-color: #45a049; /* Slightly darker shade on hover */
}

.controls button:active {
  transform: scale(0.95); /* Slightly scale down the button when clicked */
}

.controls label {
  margin-right: 10px; /* Space between label and slider */
}

/* Additional styling for the rotation slider if needed */
.controls input[type=range] {
  cursor: pointer;
}

.controls{
  margin-bottom: 40px;
}

.image-and-legend-container {
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: flex-start; /* Aligns children at the top */
  width: 100%; /* Full width of its parent */
  max-width: 1200px; /* Adjust this to limit the maximum size */
  margin: 0 auto; /* Auto margin for horizontal centering */
}

.image-container {
  flex: 1; /* Takes up as much space as possible */
  flex-grow: 1; /* Allows it to grow and take necessary space */
  position: relative; /* For absolute positioning of TransformWrapper */
}

.img-legend {
  max-height: 30vh; /* Max height as a percentage of the viewport height */
  max-width: 25%;  /* Max width as a percentage of the containing element's width */
  height: auto; /* Height auto for maintaining aspect ratio */
  width: auto; /* Width auto for maintaining aspect ratio */
  flex-shrink: 0; /* Prevents the image from shrinking */
  align-self: flex-start; /* Aligns the image at the top */
}

.app-footer {
  background-color: #282c34;
  color: white; /* Light text color for contrast */
  text-align: center; /* Center the text */
  padding: 10px 0; /* Padding for spacing */
  margin-top: 40px; /* Top margin as requested */
  position: fixed; /*Fix position to the bottom*/
  bottom: 0; /* Align to bottom */
  width: 100%; /* Full width */
  font-size: 0.9rem; /* Adjust font size as needed */
  height: 40px;
}

.options-dropdown {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.options-dropdown:focus {
  outline: none;
  border-color: #4CAF50; /* Highlight color when focused */
}

.pad-label{
  margin-right: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed; /* To overlay on top of other content */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  z-index: 1000; /* Ensure it's above other content */
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey border */
  border-top: 5px solid #3498db; /* Blue border for spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.download-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 10px;
  background-color: #616662;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.download-link:hover {
  background-color: #45a049;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.app-footer p a {
  color: inherit; /* This will make the color the same as the parent element */
}

#run-example-button {
  background-color: #f1f1f1;
  color: black;
}

#run-example-button:hover{
  background-color: #d0d3d7;
}

/* .advanced-settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

.advanced-settings {
  display: flex;
  flex-direction: row; /* Aligns children in a row */
  /* justify-content: space-around;  */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Aligns children at the top */
  gap: 20px; /* Adjust this value for spacing between each settings container */
}

.slider-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Space between elements */
  margin-bottom: 10px; /* Space below each slider container */
  padding: 5px 0; /* Vertical padding */
}

.slider-container label {
  margin-right: 5px;
  display: block; /* Ensures label is on its own line */
  white-space: nowrap; /* Prevents label from wrapping */
}

/* Specific styles for range and number inputs */
.slider-container input[type="range"],
.slider-container input[type="number"] {
  align-self: center; /* Align these items in the center vertically */
}

/* Styles for the number input to adjust its appearance */
.slider-container input[type="number"] {
  width: 50px; /* Fixed width for number input */
  height: calc(1.5em + 2px); /* Adjust height to match the range input */
  padding: 4px 8px; /* Internal spacing */
  border: 1px solid #ccc; /* Border for number input */
  border-radius: 4px; /* Rounded corners */
  text-align: center; /* Center the text inside the number input */
}




/* .color-container {
  display: flex;
  align-items: center;
  gap: 5px;
} */



/* .number-settings-container {
  display: flex;
  align-items: center;
} */

/* .checkbox-label {
  margin-right: 10px;
} */

.slider-group {
  display: block; /* Each slider group takes up its own line */
  margin-bottom: 10px; /* Space between each slider group */
  text-align: center; /* Centers the content within each slider group */
}

.number-settings-container {
  background-color: #f0f0f0; /* Light grey background */
  padding: 15px 20px; /* Added horizontal padding */
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Makes the container only as wide as its content */
}

.number-settings-header h3 {
  margin: 0;
  color: #333; /* Dark text color for the header */
}

.number-settings-header {
  margin-bottom: 10px; /* Space between header and sliders */
  text-align: center; /* Centers the header text */
}

/* .number-settings-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
} */

.checkbox-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nucleotide-settings-container {
  background-color: #f0f0f0; /* Light grey background */
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Makes the container only as wide as its content */
  width: auto; /* Auto width for the minimum necessary width */
}

.nucleotide-settings-header {
  margin-bottom: 10px; /* Space between header and sliders */
  text-align: center; /* Centers the header text */
}

.nucleotide-settings-header h3 {
  margin: 0;
  color: #333;
}

/* .nucleotide-settings-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
} */

#color-picker-div {
  display: flex;
  flex-direction: column; /* Align children vertically in a column */
  align-items: center; /* Center children horizontally */
  gap: 10px; /* Space between each color container */
}

/* Styles for Color Settings Section */
.color-settings-container {
  background-color: #f0f0f0; /* Light grey background */
  padding: 15px; /* Add padding inside the container */
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%; /* Increase the width to 90% */
  margin-left: auto; /* Centers the container */
  margin-right: auto; /* Centers the container */
}

.color-container label {
  white-space: nowrap; /* Prevent label from wrapping */
}

.color-settings-header {
  margin-bottom: 10px; /* Space between header and color pickers */
}

.color-settings-content {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between items */
  padding: 0 20px; /* Horizontal padding inside the container */
}

.color-container {
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Vertically align items within each color container */
  gap: 10px; /* Space between label and input */
  padding: 5px 0; /* Vertical padding inside each color container */
}

.color-container input[type="color"],
.color-container input[type="text"] {
  align-self: center; /* Align inputs in the center vertically */
}

.nucleotide-settings-content{
  display: block; /* Ensures each option is on its own line */
  margin-bottom: 20px; /* Increase space between each option */
  text-align: center;
}

.label-left-align {
  text-align: left;
}

.select-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adjust this value for spacing between label and select dropdown */
  margin-bottom: 10px;
}

#small-text {
  width: 100px;
  padding: 8px;
}