.documentation {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem; /* Or adjust as necessary */
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 3;
}

.sidebar {
  font-family: 'Arial', sans-serif;
  position: sticky;
  top: 0; /* Adjust as necessary, depending on your page's header size */
  max-width: 200px; /* Adjust as needed */
  padding: 20px;
  margin: 20px 0;
  background-color: #e4e4e4; /* Light grey background */
  height: 100vh; /* Optional: Makes the sidebar take up the full height of the viewport */
  overflow-y: auto; /* Optional: Adds a scrollbar if the sidebar content is too long */
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  /* border-right: 2px solid black;
  border-top: 2px solid black; */
}

.documentation-container {
  display: flex;
}

.left-h3, .documentation h2 {
  color: #2c3e50;
  text-align: left; /* Center-align headings */
  padding-left: 20%; /* Add substantial padding on the left */
  padding-right: 20%; /* Add substantial padding on the right */
}

/* Add a class for your specific h3 element */
.centered-h3 {
  text-align: center; /* Centers the text inside the h3 */
  margin: 0 auto; /* Centers the h3 block if it has a set width */
  padding-left: 20%; /* Add substantial padding on the left */
  padding-right: 20%; /* Add substantial padding on the right */
  color: #2c3e50;
  margin-top: 15px; /* Alternatively, or additionally, add margin at the bottom */
  margin-bottom: 20px; /* Alternatively, or additionally, add margin at the bottom */
}

.documentation p {
  line-height: 1.6;
  padding-left: 20%; /* Add substantial padding on the left */
  padding-right: 20%; /* Add substantial padding on the right */
  text-align: left; /* Ensure text is aligned left */
}

.documentation p.indented {
  margin-left: 20px; /* Additional indentation if needed */
}

.documentation b {
  color: #3498db;
}

.full {
  width: 800px; 
  height:400px;
}

.doc-image {
  max-width: 100%;
  height: auto;
  display: block; /* Optional, to remove any extra space below the image */
  margin: 0 auto; /* Center the image within its container */
}

.side-by-side-images {
  display: flex; /* Apply Flexbox */
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Align the images vertically */
}

.side-image {
  max-width: 48%; /* Adjust the max-width to fit side by side */
  height: auto; /* Maintain the aspect ratio */
  margin: 0.5%; /* Provide a small space between the images */
}





.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}