.documentation {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem; /* Or adjust as necessary */
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.documentation h3, .documentation h2 {
  color: #2c3e50;
  text-align: left; /* Center-align headings */
  padding-left: 20%; /* Add substantial padding on the left */
  padding-right: 20%; /* Add substantial padding on the right */
}

.documentation p {
  line-height: 1.6;
  padding-left: 20%; /* Add substantial padding on the left */
  padding-right: 20%; /* Add substantial padding on the right */
  text-align: left; /* Ensure text is aligned left */
}

.documentation p.indented {
  margin-left: 20px; /* Additional indentation if needed */
}

.documentation b {
  color: #3498db;
}

.documentation img {
  width: 800px; 
  height:400px;
}
