/* src/TopRow.css */
.top-row {
  background-color: #282c34;
  color: #fff;
  padding: 1rem;
  max-height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex; /* Align the link and button in a row */
  align-items: center;
}

.toggle-docs-btn, .download-link {
  background-color: #f1f1f1;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; /* Adds space between link and button */
  text-decoration: none; /* Remove underline from link */
  display: inline-block; /* Align link with the button */
}

.toggle-docs-btn:hover, .download-link:hover {
  background-color: #d0d3d7;
}

.top-row h2 {
  text-align: left;
  padding-left: 30px;
  font-size: 2rem;
}

.main {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.usc-logo {
  max-height: 50px; /* Set a max height for the logo */
  width: auto; /* Maintain aspect ratio */
  margin-left: 30px; /* Optional: add some space between logo and title */
  margin-right: 10px; /* Optional: add some space between logo and title */

}

.button-container {
  display: flex; /* Makes the buttons align horizontally */
  align-items: center; /* Aligns buttons vertically */
}

.buttons-and-logo {
  display: flex; /* Aligns buttons and logo horizontally */
  align-items: center; /* Ensures vertical alignment */
}
